@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?h6mc3');
  src:  url('fonts/icomoon.eot?h6mc3#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?h6mc3') format('truetype'),
    url('fonts/icomoon.woff?h6mc3') format('woff'),
    url('fonts/icomoon.svg?h6mc3#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

.icon {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e905";
}
.icon-lock-fill:before {
  content: "\e900";
}
.icon-google:before {
  content: "\e901";
}
.icon-instagram:before {
  content: "\e902";
}
.icon-facebook:before {
  content: "\e903";
}
.icon-facebook-f:before {
  content: "\e903";
}
.icon-stagelink_icon:before {
  content: "\e904";
}

