* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-rendering: optimizelegibility;
	font-smooth: auto;
	-webkit-font-smoothing: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}
#map1, #map {
	position: relative;
	overflow: hidden;
	/*height: 20rem;*/
	height: 100vh;
	background-color: rgb(77, 65, 74);
	margin: 0;
	padding: 0;
}
/*.leaflet-container {
    height: 20rem;
    width: 100%;
}*/
