* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
	text-rendering: optimizelegibility;
	font-smooth: auto;
	-webkit-font-smoothing: auto;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section,
summary {
	display: block;
}

body{
	font-family: 'Open Sans',sans-serif;
	transition: all 400ms;
}

#map1, #map {
	position: relative;
	overflow: hidden;
	height: 100vh;
	width: 100%;
	background-color: #FFF;
	margin: 0;
	padding: 0;
}


.container{
	position: relative;
}


.wrapper {
	/*padding: 1rem 1rem 1rem 1rem;*/
	/*max-width: 36rem;*/
	margin: 0 auto;
	background-color: #FFF;
}

header{
	padding-top: 6rem;
}

h1{
	color: rgb(88, 88, 88);
	text-align: center;
	font-weight: 500;
	font-size: 1.875rem;
	line-height: 3.75rem;
}

.overlay-map{
	/*background-image: url('../images/bg-map-blur.jpg');*/
	background-repeat: no-repeat;
	background-size: cover;
}

.vote-frame{
	color: #fff;
	width: 22.5rem;
	margin: 0 auto;
	padding-top: 4rem;
}

.fragment__vote-information{
	background-color: #2e2d30;
	border-top-right-radius: 5px;
	border-top-left-radius: 5px;
	border-bottom: 2px solid #fff;
	padding: 1rem 2rem 0rem 2rem;
}

.fragment__vote-information h2{
	font-weight: 700;
	font-size: 1.875rem;
	line-height: 3.75rem;
	text-align: center;
}

.fragment__vote-information p{
	text-align: center;
	font-size: 1.1rem;
}

.fragment__vote-information .icon-lock{
	position: relative;
	display: block;
	background-color: #2E2D30;
	background-repeat: no-repeat;
	background-size: cover;
	height: 3.5rem;
	width: 3.5rem;
	margin: 0 auto;
	top: 1.25rem;
	border-radius: 50%;
	border: 2px solid #fff;

}

.fragment__vote-information .icon-lock .icon{
	font-size: 2.2rem;
	text-align: center;
	vertical-align: middle;
	line-height: 3.2rem;
}


.fragment__vote-details{
	background-color: #F39200;
	padding: 1.2rem;
	border-bottom: 2px solid #fff;
	padding-bottom: 2rem;
}

.fragment__vote-details h2{
	font-size: 1.375rem;
	text-align: center;
	font-weight: 600;
	line-height: 3rem;
}

.fragment__vote-details input.input-field[type="text"]{
	position: relative;
	display: block;
	height: 3.5rem;
	width: 13.5rem;
	padding: 0;
	border: 0;
	margin: 0 auto;
	font-size: 1.2rem;
	background: #f7f7f7;
	color: #232323;
	text-align: center;
	-webkit-border-radius: 0;
	line-height: 3.5rem;
	font-weight: 400;
}


.fragment__vote-details .selects-wrapper, .fragment__vote-buttons .buttons-wrapper{
	width: 13.5rem;
	margin: 0 auto;
	max-width: none;
	flex-flow: row wrap;
	display: flex;
	/*justify-content: space-between;*/
}


.fragment__vote-details select{
	/*display: inline-block;*/
	font-family: 'Open Sans';
	flex-grow: 1;
	height: 3.5rem;
	max-width: 50%;
	/*background: #f6f6f6 !important;*/
	border: 0;
	/*padding: 0.6rem 3rem 0.6rem 0.6rem !important;*/
	padding-left: 1.8rem;
	border-radius: 0;
	box-shadow: none;
	font-size: 1.2rem;
	line-height: 3.5rem;
	font-weight: 400;
	color: #232323;
	text-align: left;
	overflow: visible;
	background: url('../images/arrow.png') 85%/18% no-repeat #f6f6f6;
	-webkit-appearance: none;
	-moz-appearance: none;
	appearance: none;
}


.fragment__vote-details select:first-child{
	margin-right: 0.4rem;
}

.fragment__vote-details select:active{
	background: url('../images/arrow-down.png') 85%/18% no-repeat #f6f6f6;
}



.fragment__vote-buttons .buttons-wrapper{
	width: 100%;
}

.fragment__vote-buttons .button {
	height: 4.5rem;
	/*display:inline-block;*/
	font-size: 1.25rem;
	color: #fff;
	border: 0;
	box-shadow: none;
	cursor: pointer;
}

.buttons-wrapper .icon{
	font-size: 2.2rem;
	padding-right: 0.75rem;
	vertical-align: middle;
}

.buttons-wrapper .button__facebook{
	width: 100%;
	order: 1;
	background-color: #314a81;
	border-bottom: 4px solid #223B69;
	margin-bottom: 2px;
}

.buttons-wrapper .button__facebook:hover{
	border-bottom: 4px solid #314a81;

}

.buttons-wrapper .button__gplus{
	flex-grow: 1;
	order: 2;
	max-width: 50%;
	background-color: #d34836;
	border-bottom: 4px solid #b03626;
	margin-right: 1px;
}

.buttons-wrapper .button__gplus:hover{
	border-bottom: 4px solid #d34836;

}

.buttons-wrapper .button__instagram{
	flex-grow: 1;
	order: 3;
	max-width: 50%;
	color: #4e3b2a;
	background-color: #f8f1e4;
	border-bottom: 4px solid #876423;
	margin-left: 1px;
}

.buttons-wrapper .button__instagram:hover{
	border-bottom: 4px solid #f8f1e4;

}

.fragment__vote-about{
	padding-top: 1rem;
	/*background-color: #fff;*/
}

.fragment__vote-about p{
	font-size: 1rem;
	color: rgb(156, 158, 159);
	line-height: 2rem;
	text-align: center;
}

footer{
	font-size: 0.8rem;
	color:rgb(88, 88, 88);
	text-align: center;
	padding-bottom: 1rem;
}

footer .icon-stagelink_icon{
	font-size: 2.2rem;
	line-height: 4.4rem;
}


footer span{
	color: #F09600;
	vertical-align: middle;
}


@media all and (max-width: 32rem) {
	/*.wrapper{
		margin-left: 1rem;
		margin-right: 1rem;
	}*/
	header{
		padding-top: 1rem;
		padding-left: 1rem;
		padding-right: 1rem;
	}

	h1{
		line-height: 2.6rem;
	}

	.vote-frame{
		width: auto;
		padding-top: 1rem;

	}

	.fragment__vote-information{
		border-top-right-radius: 0;
		border-top-left-radius: 0;
	}

	.fragment__vote-about p{
		line-height: 1.5rem;
	}

	.fragment__vote-about, footer{
		padding-left: 1rem;
		padding-right: 1rem;
	}
}
